---
title: "STRØM . People Product Process"
heroimage: "https://source.unsplash.com/collection/620551/1920x1080"
heroimage-320: "https://source.unsplash.com/collection/620551/320x586"
heroimage-640: "https://source.unsplash.com/collection/620551/640x1136"
heroimage-1200: "https://source.unsplash.com/collection/620551/1200x800"
heroimage-1600: "https://source.unsplash.com/collection/620551/1600x1200"
heroimage-1920: "https://source.unsplash.com/collection/620551/1920x1080"
---

<!--

Integrate tabbing order
Aria-roles for accessibility

-->

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>{{ title }} . User experience and digital product design agency ...</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Preconnect external domains
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="preconnect" href="https://in.hotjar.com" crossorigin="anonymous">
    <link rel="dns-prefetch" href="https://in.hotjar.com" crossorigin="anonymous">
    <link rel="preconnect" href="https://ws5.hotjar.com" crossorigin="anonymous">
    <link rel="dns-prefetch" href="https://ws5.hotjar.com" crossorigin="anonymous">
    <link rel="preconnect" href="https://ws11.hotjar.com" crossorigin="anonymous">
    <link rel="dns-prefetch" href="https://ws11.hotjar.com" crossorigin="anonymous">
    <link rel="preconnect" href="https://vars.hotjar.com" crossorigin="anonymous">
    <link rel="dns-prefetch" href="https://vars.hotjar.com" crossorigin="anonymous">
    <link rel="preconnect" href="https://vc.hotjar.io" crossorigin="anonymous">
    <link rel="dns-prefetch" href="https://vc.hotjar.io" crossorigin="anonymous">
    <link rel="preconnect" href="https://script.hotjar.com" crossorigin="anonymous">
    <link rel="dns-prefetch" href="https://script.hotjar.com" crossorigin="anonymous">
    <link rel="preconnect" href="https://static.hotjar.com" crossorigin="anonymous">
    <link rel="dns-prefetch" href="https://static.hotjar.com" crossorigin="anonymous">
    <link rel="preconnect" href="https://www.google-analytics.com" crossorigin="anonymous">
    <link rel="dns-prefetch" href="https://www.google-analytics.com" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin="anonymous">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com" crossorigin="anonymous">
    <link rel="preconnect" href="https://inspectlet.com" crossorigin="anonymous">
    <link rel="dns-prefetch" href="https://inspectlet.com" crossorigin="anonymous">
    <link rel="preconnect" href="https://ws7.hotjar.com" crossorigin="anonymous">
    <link rel="dns-prefetch" href="https://ws7.hotjar.com" crossorigin="anonymous">
    <link rel="preconnect" href="https://hn.inspectlet.com" crossorigin="anonymous">
    <link rel="dns-prefetch" href="https://hn.inspectlet.com" crossorigin="anonymous">
    <link rel="preconnect" href="https://cdn.inspectlet.com" crossorigin="anonymous">
    <link rel="dns-prefetch" href="https://cdn.inspectlet.com" crossorigin="anonymous">
    <link rel="preconnect" href="https://source.unsplash.com" crossorigin="anonymous">
    <link rel="dns-prefetch" href="https://source.unsplash.com" crossorigin="anonymous">

    <!-- Web fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet" type="text/css">

    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,800;0,900;1,800;1,900&display=swap"
        rel="stylesheet" type="text/css">

    <!-- CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/styles.css">
    <style type="text/css">
        #hero {
            background-image: url('{{heroimage-320}}');
        }

        @media (min-width: 640px) {
            #hero {
                background-image: url('{{heroimage-640}}');
            }
        }

        @media (min-width: 1200px)
        /* (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi)  */
        {
            #hero {
                background-image: url('{{heroimage-1200}}');
            }
        }
        @media (min-width: 1600px) {
            #hero {
                background-image: url('{{heroimage-1600}}');
            }
        }
        @media (min-width: 1900px) {
            #hero {
                background-image: url('{{heroimage-1920}}');
            }
        }
    </style>

    <!-- Favicon
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="favicon.png">

    <!-- Global site tag (gtag.js) - Google Analytics
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163175793-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-163175793-1');
    </script>

    <!-- Google Tag Manager
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-P7LNQDP');</script>
</head>

<body>
    <!-- Google Tag Manager (noscript)
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P7LNQDP" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>

    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div id="header" class="section u-full-width">
        <a href="." id="logo" class="truncate">
            {{ title }}
        </a>
    </div>
    <div class="section" id="hero">
        <div class="container" id="hero-message">
            <h1 id="hero-title">
                <mark>Hello, we are STRØM. Users love you?</mark>
            </h1>
            <h5 id="hero-subtitle">
                <mark>
                    Build the right things right. User centric and research driven.
                    <!-- Lean UX and agile product design as a service. -->
                </mark>
            </h5>
            <a href="#letstalk" class="button" type="submit">Contact us 🚀 now</a>
        </div>
        <div class="row" id="bottom-bar">
            <p class="benefit b-one"><span>Know users</span><span>and market fit</span></p>
            <p class="benefit b-two"><span>Discover business</span><span>opportunities</span></p>
            <p class="benefit b-three"><span class="line l-one">Make effective</span><span class="line l-two">product
                    decisions</span></p>
        </div>
    </div>

    <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <!-- Modals
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="modal invisible" id="letstalk">
        <div class="modal-content container">
            <h3>Do yøu want to talk?</h3>
            <p>To Discover product opportunities, we need a thorough understanding of our users.</p>
            <p>We offer lean user research and agile product design as a service, to enable you to ship added value.</p>
            <form netlify name="STRØM Website Contact" method="POST">
                <div class="row">
                    <div class="one-half column">
                        <label for="name" class="u-full-width">
                            Name
                        </label>
                        <input name="name" id="name" class="u-full-width" type="text" placeholder="Who are you?">
                    </div>
                    <div class="one-half column">
                        <label for="contact" class="u-full-width">
                            Phone / Email
                        </label>
                        <input name="contact" id="contact" class="u-full-width" type="text"
                            placeholder="How can we reach you?">
                    </div>
                    <div class="row">
                        <button class="button" type="submit">
                            We'll contact you 🙋🏼‍♀️
                        </button>
                        <br>
                        <a class="link" href="#close">Close</a>
                    </div>
                </div>
            </form>
            <!-- <p>You also reach us under ‭<a href="tel:+49-174-3235390">+49
                        174 3235390‬ (Fåbian)</a> and <a href="+49-173-9115205">+49 173 9115205 (Jønas)</a>. <br> With
                    ❤️
                    from Hamburg. </p> -->
        </div>
        <a href="#close" class="background"></a>
    </div>

    <!-- Hotjar Tracking Code for strom.international
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 1748768, hjsv: 6 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>

    <!-- Begin Inspectlet Asynchronous Code
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!-- <script type="text/javascript">
        (function () {
            window.__insp = window.__insp || [];
            __insp.push(['wid', 31184191]);
            var ldinsp = function () {
                if (typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=31184191&r=' + Math.floor(new Date().getTime() / 3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x);
            };
            setTimeout(ldinsp, 0);
        })();
    </script> -->
    <!-- End Inspectlet Asynchronous Code -->
</body>

</html>